.add_icon {
  cursor: pointer;
  height: 40px;
  filter: drop-shadow(2px 2px 0px black);
  transform: translateY(4px);
}

.icon_basket {
  cursor: pointer;
  height: 26px;
}

.trash {
  height: 32px;
  cursor: pointer;
}

.header_logo {
  height: 64px;
  filter: drop-shadow(3px 4px 1px black);
}

.spaghetti_img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.pasta_img {
  height: 130px;
  position: absolute;
  z-index: 1;
  top: 640px;
  background-color: white;
  border-radius: 50%;
  border: 3px solid rgb(0 190 255);
}

.img_footer {
  height: 50px;
}
