.basket_wrapper {
  width: 300px;
  height: 100vh;
  flex-grow: 1;
  padding: 2px;
  position: sticky;
  top: 0;
  justify-content: center;
}

.basket {
  width: 100%;
  background-color: #124658;
  color: white;
  text-align: center;
  box-shadow: inset 0px 0px 6px 0px orange;
}

.box_shadow {
  box-shadow: inset 0px 0px 6px 0px orange;
  padding: 5px;
}

.basket_section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10px 16px;
}

.basket_amount {
  display: flex;
  align-items: center;
  gap: 8px;
}

.basket_price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.amount_and_price {
  display: flex;
  justify-content: space-between;
}

.section_total_price {
  padding-top: 32px;
  padding-bottom: 32px;
}
